
Будет удалено .gradle/
Будет удалено .idea/.name
Будет удалено .idea/compiler.xml
Будет удалено .idea/dictionaries/
Будет удалено .idea/libraries/
Будет удалено .idea/misc.xml
Будет удалено .idea/modules/javaConcurrency_main.iml
Будет удалено .idea/modules/javaConcurrency_test.iml
Будет удалено .idea/workspace.xml
Будет удалено src/main/resources/
Будет удалено src/test/
/.idea/
/.gradle/
/gradle/
